#label {
    -fx-font: 12 Verdana;
    -fx-padding: 5 0 0 0;
}

#slider {
    -fx-font: 12 Verdana;
    -fx-padding: 5 0 0 0;
    -fx-pref-width: 280;
}

#combo_box {
    -fx-pref-width: 280;
}

#field {
    -fx-font: 12 Verdana;
    -fx-pref-width: 280;
}