#key {
    -fx-font: Verdana;
    -fx-font-weight: bold;
}

#algorithm {
    -fx-font: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#phase {
    -fx-font: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}