.graph {
    -fx-background-color: #F4FFFB;
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside; /* you should keep this for vertex.radius to hold */
    -fx-fill: #B1DFF7;
}

.vertex-label {
    -fx-font: bold 8pt "sans-serif";
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;
    -fx-stroke-dash-array: 2 5 2 5; /* remove for clean edges */
    -fx-fill: transparent; /*important for curved edges. do not remove */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.edge-label {
    -fx-font: normal 5pt "sans-serif";
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;
    -fx-opacity: 0.8;
}

/* Custom vertex. You should revert any unwanted styling in the default element,
   style, since custom styles will be appended to the default style */
.traitor {
    -fx-fill: #f28888;
}

.loyal {
    -fx-fill: #B1DFF7;
}

.attack {
    -fx-stroke: #cb0000;
}

.defense {
    -fx-stroke: #000000;
}

.none {
    -fx-effect: none;
}

.commander {
    -fx-effect: dropshadow(three-pass-box, #8800ff, 15, 10, 0, 0);
}

.lieutenant {
    -fx-effect: dropshadow(three-pass-box, #8800ff, 15, 0, 0, 0);
}

.king {
    -fx-effect: dropshadow(three-pass-box, #1bac00, 15, 0, 0, 0);
}

.voter {
    -fx-effect: dropshadow(three-pass-box, #8800ff, 15, 0, 0, 0);
}

.neighbour {
    -fx-effect: dropshadow(three-pass-box, #1bac00, 15, 0, 0, 0);
}